<div class="jumbotron">
	<h1>About Me:</h1>
	<p>oh Hi, My name is ______?.</p>

	<p>My given name is Oliva Lee Sheedy. My parents call me JellyBean, Button, Livvy, JB, etc. I'm acullay kind of confused about my many names but it keeps me on my toes -- so I'll let it slide. :-). </p>
</div>