<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">My Family</h1>
  </div>
  <div class="panel-body">
    	<div class="media">
  	<div class="media-left media-middle">
      <img class="media-object" src="famimage1.png">
  	</div>
  	 <div class="media-body">
    <h4 class="media-heading">Dad</h4>
  </div>
  </div>
</div>